.workspace-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    .workspace {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.form-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    label {
            font-size: 14px;
            margin-bottom: 5px;
            font-weight: 500;
            margin-top: 20px;
        }
    
    input {
        height: 40px;
        width: 300px;
        font-size: 13px;
        margin-bottom: 10px;
        border-width: 1px;
        border-radius: 4px;

        &.first {
            height: 40px;
            max-width: 400px;
            min-width: 365px;
            font-size: 13px;
            margin-bottom: 10px;
            border-width: 1px;
            border-radius: 4px;
        }

        &.second {
            max-width: 260px;
            min-width: 10px;
        }

        &.disabled {
            max-width: 100px;
        }
    }

    Button {
        margin-top: 40px;
        max-width: 405px;
        min-width: 375px;
    }
}
}
