li {
    list-style: none;
    display: inline-block;
    width: 25%;
    position: relative;
    text-align: center;

    &:before {
        content: counter(step);
        counter-increment: step;
        color: #aaa;
        font-weight: 500;
        width: 35px;
        height: 35px;
        line-height: 35px;
        border: 3px solid #ddd;
        border-radius: 100%;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        background-color: #fff;
        cursor: pointer;
        text-decoration: none;
    }

    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #ddd;
        top: 17px;
        left: -50%;
        z-index: -1;
    }

    &:first-child:after {
        content: none;
    }
}

.container {
    width: 35%;

    .progressbar {
        counter-reset: step;
        padding: 0;
    }
}

// transitions
.active-1 {
    &:before {
        transition: all 1s ease-out;
    }
    +li:after {
        transition: all 1s ease-out;
    }
    +li:before {
        transition: all 1s ease-out;
    }
    +li+li:after {
        transition: all 1s ease-out;
    }
    +li+li:before {
        transition: all 1s ease-out;
    }
    +li+li+li:after {
        transition: all 1s ease-out;
    }
    ~li:before {
        transition: all 1s ease-out;
    }
    ~li:after {
        transition: all 1s ease-out;
    }   
}

.active-1 {

    &:before {
        color: #fff;
        border-color: #664de5;
        background-color: #664de5;
    }
    
    +li:after {
        background: linear-gradient(90deg, #664de5 50%, #ddd 50%);
    }
}

.active-2 {
    
    +li:after {
        background: linear-gradient(90deg, #664de5 50%, #664de5 50%);
    }

    +li:before {
        color: #fff;
        border-color: #664de5;
        background-color: #664de5;
    }
    
    +li+li:after {
        background: linear-gradient(90deg, #664de5 50%, #ddd 50%);
    }
}

.active-3 {

    +li:after {
            background: linear-gradient(90deg, #664de5 50%, #664de5 50%);
        }

    +li:before {
        color: #fff;
        border-color: #664de5;
        background-color: #664de5;
    }

    +li+li:after {
        background: linear-gradient(90deg, #664de5 50%, #664de5 50%);
    }

    +li+li:before {
        color: #fff;
        border-color: #664de5;
        background-color: #664de5;
    }

    +li+li+li:after {
        background: linear-gradient(90deg, #664de5 50%, #ddd 50%);
    }
}

.active-4 {

    ~li:before {
        color: #fff;
        border-color: #664de5;
        background-color: #664de5;
    }

    ~li:after {
        background: linear-gradient(90deg, #664de5 50%, #664de5 50%);
    }
}