.usage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        
        .cards {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            // clamp: 
            
            .card-1 {
                box-sizing: border-box;
                border: 1px solid lightgray;
                height: 200px;
                width: 200px;
                border-radius: 5px;
                padding-top: 15px;
                padding-bottom: 10px;
                padding-left: 25px;
                padding-right: 10px;
                // margin-right: 20px;
                cursor: pointer;

                img {
                    height: 40px;
                }
            }

            .card-2 {
                box-sizing: border-box;
                border: 1px solid lightgray;
                height: 200px;
                width: 200px;
                border-radius: 5px;
                padding-top: 15px;
                padding-bottom: 10px;
                padding-left: 25px;
                padding-right: 10px;
                cursor: pointer;

                img {
                    height: 40px;
                    position: relative;
                    top: 4px;
                }
            }

            .selected {
                border: 1px solid rgb(102, 77, 229);
            }


    }
}

Button {
    margin-top: 40px;
    max-width: 405px;
    min-width: 375px;
    margin-bottom: 10px;
}

}

@media only screen and (max-width:600px) {
    .cards {
        display: flex;
        justify-content: center;
    }
}