* {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-weight: 700;
}

h2 {
    color: #0f1523;
    font-size: 32px;
    padding: 0;
    margin-bottom: 0;
    font-weight: 600;
}

p {
    color: gray;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

// @media screen and (max-width:600px) {
//     label {

//     }
// }